h1,h2,h3{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    margin: 0;
    padding: 0;
}

/*Main window*/
#container {
    background-color:gray;
    text-align:center;
    padding:0;
    margin: 0;
}

.button-bar{
    text-align: center;
    padding: 0.5em 0 0.5em 0;
}

#main-buttons{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    margin: 1em;
}
#links{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    margin: 1em;    
}
#links a{
    color: white;
    text-decoration: none;
}
#links li{
    display: inline;
    list-style-type: none;
    padding-right: 1em;
}
#links  a:visited{
    color: white;
}

/**************************/
/*Settings dialog styles */


/*Invisible layer*/
#settings{
    display: none; /*hidden by default*/
    /* display: block; */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 3;
    left: 0px;
    top: 0px;
}


#settings > div{
    padding: 0 0 0 0;
    background-color:rgb(28,78,99);
    color: white;
    max-width: 43em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
#settings p{
    margin: 0.5em 0.3em 0em 1em;
}
#settings input{
    border: 1px solid white; 
    background-color: rgb(48,98,119);
    color: white;
}
#settings a{
    color: yellow;
}

.initial-pattern-block {
    text-align: center;
}

#settings > div h1{
    background-color:rgb(58,108,129);
    padding: 0 1em 0 1em;
}
#settings > div h2{
    background-color:rgb(78,128,149);
    padding: 0 1em 0 3em;
    margin-bottom: 0.5em;
}
#settings > div h3{
    background-color:rgb(98,148,169);
    padding: 0;
    text-align: center;
}

.rule-box {
    width: 20em;
    display: inline-block;
    margin: 0.5em;
    border-color: white;
    border-width: 1px;
    border-style: dotted;
}

.rules-graph, .rule-evolution{
    background-color: rgb(148,198,229);
    margin: 0 0 0.5em 1em;
}

input.short{
    width: 4em;
}

.error-text {
    color: red;
}

.rule-info {
    display: hidden;
    height: 1em;
}

#initial-pattern-text {
    text-align: center;
    width: 80%;
}

/*Buttons. Copy-paste from Pure*/
.pure-button {
    padding: 0.5em 1em;
    color: rgba(0, 0, 0, 0.8);
    border: 0px none transparent;
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.pure-button {
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
    min-width: 3em;
}

.pure-button:hover{
    background-color: #f6f6f6;
}

.button-success {
    background: none repeat scroll 0% 0% #1CB841;
}

.button-info {
    background: none repeat scroll 0% 0% #9c9c9c;
}

.button-info:hover {
    background: none repeat scroll 0% 0% white;
}

.button-success, .button-error, .button-warning, .button-secondary {
    color: #FFF;
    border-radius: 4px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success:hover{
    background: none repeat scroll 0% 0% #1CE841;
}